.blobs
.bundle
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
src/bosh_aws_cpi/vendor/cache/
.idea
.vagrant
blobs
**/config/dev.yml
**/config/private.yml
dev_releases
releases/*.tgz
releases/**/*.tgz
src/bosh_aws_cpi/vendor/cache
.DS_Store
*.swp
*~
*#
#*
tmp
.terraform
