---
platform: linux
image_resource:
  type: docker-image
  source: {repository: boshcpi/aws-cpi-release}
inputs:
  - name: bosh-cpi-src
  - name: environment
run:
  path: bosh-cpi-src/ci/tasks/run-integration.sh
params:
  AWS_ACCESS_KEY_ID:                       ""
  AWS_SECRET_ACCESS_KEY:                   ""
  AWS_DEFAULT_REGION:                      ""
  BOSH_AWS_KMS_KEY_ARN:                    ""
  BOSH_AWS_PERMISSIONS_AUDITOR_KEY_ID:     ""
  BOSH_AWS_PERMISSIONS_AUDITOR_SECRET_KEY: ""
