---
platform: linux
image_resource:
  type: docker-image
  source: {repository: bosh/integration}
inputs:
  - name: bosh-aws-cpi-release
  - name: environment
  - name: stemcell
run:
  path: bosh-aws-cpi-release/ci/tasks/run-integration.sh
params:
  AWS_ACCESS_KEY_ID:                       ""
  AWS_SECRET_ACCESS_KEY:                   ""
  AWS_DEFAULT_REGION:                      ""
  BOSH_AWS_KMS_KEY_ARN:                    ""
  BOSH_AWS_KMS_KEY_ARN_OVERRIDE:           ""
  BOSH_AWS_PERMISSIONS_AUDITOR_KEY_ID:     ""
  BOSH_AWS_PERMISSIONS_AUDITOR_SECRET_KEY: ""
  BOSH_AWS_CPI_API_VERSION:
  BOSH_AWS_WINDOWS_IMAGE_ID:
